body{
    background-color: #0e2188;
    background-image: linear-gradient(43deg, #88280e 0%, #13269b 46%, #1836db 100%);    
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Raleway, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
html {
    scroll-behavior: smooth;
  }
  