body{
    background-color: #0e2188;
    background-image: linear-gradient(45deg, #7c02e0 25%, #1f2e8f 50%, #ce155c 85%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Raleway, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}